*{
    /* margin: 0; */
    padding: 0;
}
#nav-menu{
    padding: 10px;
    background-color: rgb(58, 58, 58);
    color: white;
    border-radius: 5px;
    letter-spacing: 1px;

    /* to remove the arrow and replace it with a custom one */
    /* appearance: none; */
    font-size: 15px;
}
#nav-menu option{
    font-size: 14px;
    background: rgba(98, 97, 97, 0.674);
    border-radius: 5px;
}
br{
    margin-top: 10px;
}

/* start here */
.dropdown{
    width: fit-content;
    box-shadow: 3px 4px 10px rgba(0, 0, 0, 0.342);
    border-radius: 6px;
}
.dropdown button{
    font-size: 17px;
    width: fit-content;
    background: gainsboro;
    border: none;
    padding: 14px;
}
.dropdown-content a{
    font-size: 15px;
    letter-spacing: 1px;
    text-align: left;
    float: none;
    text-decoration: none;
    color: black;
    display: block;
    width: fit-content;
}
.dropdown-content a:hover{
    color: blue;
}
.dropdown-content{
    z-index: 1;
    display: none;
    margin-top: 3px;
    position: absolute;
    padding: 14px;
    border-radius: 5px;
    background: whitesmoke;
}

.dropdown:hover .dropdown-content{
    display: block;
}