*{
    font-family: 'Noto Sans Mono', monospace;
    margin: 0;
    padding: 0;
    text-transform: capitalize;
}
/* SIDE NAVBAR */
.sidebar{   
    transition: all 0.2s ease;
    background-color: black;
    height: 100vh;
    position: fixed;
}
.sidebarGo{
    transform: translate(-360px,0px);
    position: absolute;
}
.sidebar li a{
    text-decoration: none;
    color: white;
    font-size: 45px;
    opacity: 0.8;
}
.sidebar li a:hover{
    opacity: 1;
}
.sidebar nav{
    padding: 25px;
}
.sidebar li{
    list-style-type: none;
    padding-top: 30px;
}
/* hamburger menu-> part of side navigation bar only ! */
.hamburger{
    position: fixed;
    left: 3px;
    top: 3px;
}
.hamburger:active{
    transform: rotate(10deg);
}
.ham{
    margin-top: 1px;
    margin-left: 1px;
}
.cross{
    margin-top: 1px;
    margin-left: 1px;
}
#button1,#button2{
    background-color: transparent;
    border: 0;
    cursor: pointer;
} 
input[type="text1"]{
    margin-top: 30px;
    padding: 5px;
    border: 2px solid #0156b3;
    border-radius: 5px;
    transition: all 0.2s ease;
    caret-color: #96c8f6;
}
input[type="text1"]:hover{
    padding-right: 10px;
}
#search{
    background-image: url(http://www.clker.com/cliparts/n/C/y/X/u/K/search-icon.svg);
    background-size: 40px;
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: right;
}
::-webkit-input-placeholder{
    color: transparent;
}
:hover::-webkit-input-placeholder{
    color: rgb(129, 129, 129);
}
input[type="text1"]:invalid{
    animation: shake 300ms;
}
@keyframes shake{
    25%{transform: translateX(5px);}
    55%{transform: translateX(-4px);}
    75%{transform: translateX(4px);}
}
/* input[type="text"]::-ms-clear{
    display: none;
} */
/* social buttons -> part of side navigation bar only ! */
.social{
    display: flex;
    margin-top: 23px;
}
.social-btn{
    cursor: pointer;
}
.social-btn-1:hover{
    background-color: #179cf0;
}
.social-btn-1{
    background-color: white;
    border-radius: 30px;
    padding-top: 10px;
    padding-left: 9px;
    padding-right: 6px;
}
.social-btn-1:active,
.social-btn-2:active,
.social-btn-3:active{
    transform: scale(0.98);
}
.social-btn-2:hover{
    background-color: #007ab9;
}
.social-btn-2{
    background-color: white;
    border-radius: 30px;
    padding-top: 10px;
    padding-left: 9px;
    padding-right: 6px;
}
.social-btn-3{
    background: white;
    border-radius: 22px;
    padding-top: 10px;
    padding-left: 9px;
    padding-right: 6px;
}
div .social{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

/* CONTACT FORM */
.label-text{
    color: white;
    font-size: 21px;
}
.contact-section{
    height: 100vh;
    background-color: #242732;
    background-size: cover;
    padding: 50px 0;
}
.contact-section h1{
    color: rgba(255, 253, 253, 0.709);
    text-align: center;
    /* color: #0156b3; */
    font-size: 40px;
}
.contact-form{
    margin: auto;
    max-width: 600px;
    overflow: hidden;
    padding: 17px;
}
input[type="text"],
input[type="email"],
input[type="tel"]{
    border: 2px solid #0156b3;
    border-radius: 5px;
}
.contact-form-text{
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    border: 0;
    outline: none;
    border: 2px solid #0156b3;
}
.contact-form-text:focus{
    box-shadow: 0 8px 12px 1px #34495e;
}
.contact-form .btn:active{
    transform: scale(0.98);
}
.contact-form .btn{
    /* display: flex; */
    border: 0;
    float: right;
    background-color: black;
    color: white;
    border-radius: 14px;
    box-shadow: 2px 4px 8px rgb(110, 109, 109);
    padding: 20px;
    cursor: pointer;
    font-size: 26px;
}
textarea{
    border-radius: 5px;
    resize: none;
}
label,input{
    display: block;
}
label{
    margin-bottom:20px;
}

/* SECTION'S */
section{
    height: 500px;
    /* border: 1px solid black; */
}
/* HERO SECTION -> HOME */
.hero{
    /* background-color: darkviolet; */
    background-color: #242732;
    height: 100vh;
}
.hero-area{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60%;
    margin: auto;
}
.hero-text{
    margin-top: 60px;
    margin-left: 30px;
}
.hero-text h1::first-letter{
    font-size: calc(7.9rem + (6 - 4.8) * (100vw - 32rem)/ (90 - 32));
    color: rgba(255, 253, 253, 0.709);
}
.hero-text-header{
    font-size: 9px;
    color: darkslategray
}
h1{
    color: rgba(255, 253, 253, 0.709);
    font-size: calc(4.9rem + (6 - 4.8) * (100vw - 32rem)/ (90 - 32));
    margin: 0;
}
.p1{
    width: fit-content;
    text-decoration-thickness: 1px;
    border-bottom-style: ridge;
    margin: 0x;
    border-bottom-width: 3.1px;
    color: whitesmoke;
    font-size: calc(4rem + (9 - 6) * (50vw - 40rem)/ (130 - 90));
}
/* DOWNLOAD CV BUTTON */
.button{
    margin: auto;
    cursor: pointer;
    top: 77%;
    left: 50%;
    height: 60px;
    width: 275px;
    background-color: black;
    box-shadow: 2px 4px 8px rgb(110, 109, 109);
    transform: translate(-50%, -50%);
    position: absolute;
    overflow: hidden;
    border-radius: 14px;
    transition: all 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.content{
    height: 100%;
    width: 100%;
    font-size: 20px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s ease;
    transition-delay: 0.2s;
}
.button.active .content{
transform: translateY(60px);
}
.button.active:before{
    animation: layer 6s ease-in-out forwards;
}
@keyframes layer{
    100%{left: 0%;}
}
.button::before{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background: #333;
    top:0;
    left: -100%;
    border-radius: 14px;
}
.btn-text{
    font-weight: bold;
    margin-left: 8px;
}
.btn-text a{
    color: white;
    text-decoration:none;
}
/* ABOUT SECTION */
.about{
    width: 100%;
    height: 100vh;
    background-color: #242732;
    display: flex;
    justify-content: center;
    align-items: center;
}
.about-img:hover{
    cursor: url('source/images/icons/search.png'),auto;
    transform: scale(1.1);
}
.about-img{
    transition: 1s;
    height: auto;
    width: 600px;
    max-width: 100%;
    border-radius: 150px;
}
.about-text{
    width: 550px;
    max-width: 100%;
    padding: 0 10px;
    /* color: white; */
}
.about-content{
    width: 1280px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}
.about-text h2{
    color: rgba(255, 253, 253, 0.709);
    font-size: 85px;
    margin-bottom: 20px;
}
.about-text p{
    color: white;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 1px;
}
/* making about section responsive */
@media screen and (max-width: 1180px) {
    .about{
        height: auto;
        padding: 70px 0;
    }
}
@media screen and (max-width:650px){
    .about-img{
        margin-bottom: 10px;
    }
}
@media screen and (max-width:452px){
    .about-text h2{
        font-size: 67px;
    }
}


/* FOOTER */
footer{
    background-color: #5A7670;
    height: 500px;
    border: 1px solid black;
}
/* color changing buttons
.btn-violet,
.btn-crimson,
.btn-grey{
    background-color: black;
    color: white;
    border: 1px solid transparent;
    padding: 18px;
    border-radius: 14px;
    box-shadow: 2px 4px 8px rgb(110, 109, 109);
    cursor: pointer;
    transition: all 0.4s ease-in-out;
}
.btn-violet:active,
.btn-crimson:active,
.btn-grey:active{
    transform: scale(0.98);
    padding-bottom: 22px;
}
.btn-violet:hover{
    background-color: blueviolet;
    padding: 24px;
    box-shadow: inset 2px 6px 8px white;
}
.btn-crimson:hover{
    background-color: crimson;
    padding: 24px;
    box-shadow: inset 2px 6px 8px white;
}
.btn-grey:hover{
    background-color: dimgrey;
    padding: 24px;
    box-shadow: inset 2px 6px 8px white;
} */