*{
    font-family: 'Noto Sans Mono', monospace;
    margin: 0;
    padding: 0;
    text-transform: capitalize;
}
/* SIDE NAVBAR */
.sidebar{   
    transition: all 0.2s ease;
    background-color: whitesmoke;
    /* width: 45vh; */
    height: 120vh;
    position: absolute;
}
.sidebarGo{
    transform: translate(-360px,0px);
    position: absolute;
}
.sidebar li a{
    text-decoration: none;
    color: #0156b3;
    font-size: 47px;
}
.sidebar nav{
    padding: 25px;
}
.sidebar li{
    list-style-type: none;
    padding-top: 35px;
}
/* hamburger menu-> part of side navigation bar only ! */
.hamburger{
    position: absolute;
    left: 4px;
    top: 4px;
}
.hamburger:active{
    transform: rotate(10deg);
}
.ham{
    margin-top: 3px;
    margin-left: 1px;
}
.cross{
    margin-top: 3px;
    margin-left: 1px;
}
#button1,#button2{
    background-color: transparent;
    border: 0;
    cursor: pointer;
} 
input[type="text1"]{
    margin-top: 30px;
    padding: 5px;
    border: 2px solid #0156b3;
    border-radius: 5px;
    transition: all 0.2s ease;
    caret-color: #96c8f6;
}
input[type="text1"]:hover{
    padding-right: 10px;
}
#search{
    background-image: url(http://www.clker.com/cliparts/n/C/y/X/u/K/search-icon.svg);
    background-size: 40px;
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: right;
}
input[type="text1"]:invalid{
    animation: shake 300ms;
}
::-webkit-input-placeholder{
    color: transparent;
}
:hover::-webkit-input-placeholder{
    color: rgb(129, 129, 129);
}
@keyframes shake{
    25%{transform: translateX(5px);}
    55%{transform: translateX(-4px);}
    75%{transform: translateX(4px);}
}
/* input[type="text"]::-ms-clear{
    display: none;
} */
/* social buttons -> part of side navigation bar only ! */
.social{
    display: flex;
    margin-top: 30px;
}
.social-btn{
    cursor: pointer;
}
div .social{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

/* CONTACT FORM */
.label-text{
    font-size: 21px;
}
.contact-section{
    background-size: cover;
    padding: 50px 0;
}
.contact-section h1{
    text-align: center;
    color: #0156b3;
    font-size: 40px;
}
.contact-form{
    margin: auto;
    max-width: 600px;
    overflow: hidden;
    padding: 17px;
}
input[type="text"],
input[type="email"],
input[type="tel"]{
    border: 2px solid #0156b3;
    border-radius: 5px;
}
.contact-form-text{
    /* background-color: #0156b3; */
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    border: 0;
    outline: none;
    border: 2px solid #0156b3;
}
.contact-form-text:focus{
    box-shadow: 0 2px 8px 1px #34495e;
}
textarea{
    resize: none;
}
.btn{
    font-size: large;
    float:right;
    cursor: pointer;
    background-color: #0362cc;
    color: white;
    border: 1px solid transparent;
    border-radius: 5px;
    padding: 9px 21px;
    box-shadow: 2px 5px 10px #0156b3;
    transition: all 0.1s ease;
}
.btn:active{
    transform: scale(0.98);
    box-shadow: 2px 5px 10px #96c8f6;
}
label,input{
    display: block;
}
label{
    margin-bottom:20px;
}
